<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite" verbose="1" parallel="tests" thread-count="1">
   
     <test name="Device 01">
        <parameter name="type" value="Android"></parameter>
        <parameter name="APPIUM_SERVER_URL" value="http://127.0.0.1:4723/wd/hub"/>
        <parameter name="platformName" value="Android"/>
        <parameter name="deviceName" value="ZY223HQBHZ"/>
        <parameter name="appPackage" value="com.tce.afs"/>
        <parameter name="appActivity" value="com.tce.view.ui.activities.SplashScreenActivity"/>  
        <parameter name="platformVersion" value="7"/>
        <parameter name="wdaLocalPort" value=""/>
        <parameter name="iOSversion" value=""/>              
        <classes>
            <class name="studi.co.testScripts.Login" />
            <!-- <class name="studi.co.testScripts.Create_Study_Plan" />
            <class name="studi.co.testScripts.Receive_MCQ_Questions_Practice" /> -->
            <class name="studi.co.testScripts.Review_Plan_Tab" />
        </classes>
    </test>           
</suite>